.box{
    display: flex;
    padding: 8vh 14vw;
    align-items: center;
}
.titleBox{
    margin-left: 20px;
}
.title{
    font-size: 7.4rem;
    color: #487ceb;
}
.introduce{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 0.9rem;
    color: #797777;
}